<div class="wrapper-table-docs">
    <h3 class="title">Absensi</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>jabatan</th>
            <th>Tanggal</th>
            <th>Action</th>
          </tr>
        </thead>
      
      </table>
    </div>
